- name: Terminate base webserver
  include: base_webserver_terminate.yml

- name: Cleanup webservers security group
  ec2_group:
    name: webservers_access
    state: absent
  tags: ['never', 'cleanup']

- name: Get my public IP
  ipify_facts: # returns ipify_public_ip

- name: Create webservers security group
  ec2_group:
    name: webservers_access
    description: Assign access to webserver instances using Ansible
    vpc_id: "{{ default_vpc.vpcs[0].vpc_id }}"
    rules:
    - proto: tcp
      ports: 80
      cidr_ip: 0.0.0.0/0
    - proto: tcp
      ports:
        - 9000
      # This is a hack-y solution to allow the frontend to request from backend api
      # TODO: figure out a method to limit this from public access
      cidr_ip: 0.0.0.0/0
    - proto: tcp
      ports: 22
      cidr_ip: "{{ ipify_public_ip }}/32"
    tags:
      CreatedBy: Ansible